a{
    color: #0400fc
}
a:hover{
    color: #76dd7e
}
body{
    background-color: #ffffff;
  }
  
nav{
    background-color: #ffffff;
    color: #1b0238;
  }
h1,h2,h4,h5{
    text-align: center;
    color: #1b0238;
}
p{
    text-align: center;
}
 
