@import url('https://fonts.googleapis.com/css?family=Fahkwang|Questrial');

/* GENERAL-STYLE */
body {
    margin: 0;
    padding: 0;
}
a {
    color: #0400fc
    text-decoration: none;
 }

a:hover {
    color: #76dd7e
 }

body {
    background-color: #ffffff;
  }
  
footer {
    text-align: center;
    height: 250px;
    background-color: #f5f5f5;
    margin-top: 30px;
}

h1,h2,h4,h5 {
    text-align: center;
    color: #1b0238;
    font-family: 'Questrial',sans-serif;
 }

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
 }
p {
    text-align: center;
    font-family: 'Fahkwang',sans-serif
 }

blockquote{
    font-family: 'Fahkwang', sans-serif;
}

 div {
    background-color: #f5f5f5;
}

nav {
    background-color: #f5f5f5;
    color: #1b0238;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    }
    

.text-center {
    text-align: center;
}

/* INDEX-STYLE */
.mom1 {
    height: 350px;
    margin-bottom: 50px;
}

.mom2{
    height: 350px;
    margin-top: 50px;
}

.they-hope {
    text-align: left;
    margin-bottom: 50px;
    /* background-color:peachpuff; */
}

.div-0 {
    width: 100%;
    height: 350px;;
    text-align: center;
    background-color: #ffffff;
}

.div-1 {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.div-2{
    width: 50%;
    height:300px;
    float: left;
    text-align: center;
    background-color: #ffffff;
}

.div-3 {
    
    width: 50%;
    height:300px;
    float: left;
    text-align: center;
    background-color: #ffffff;
}


.div1 {
    float: left;
    width: 50%;
    /* padding-left: 50px; */
    height: inherit;
    text-align: center;
    
 }

.div2 {
    float: right;
    width: 50%;
    /* padding-right: 40px; */
    height: inherit;
    text-align: center;
    
 }

.div3 {
    float: left;
    width: 50%;
    /* padding-left: 50px; */
    height: inherit;
    text-align: center;

    
 }

.div4 {
    float: right;
    width: 50%;
    /* padding-right: 40px; */
    height: inherit;
    text-align: center;
    
 }

.info {
    height: 300px;
}

.index-bg{
    background-image:url(https://media-public.canva.com/MACNTPvHHMA/1/screen.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 550px;
    margin-bottom: 30px;
}

.kekerasan {
    color: #ffffff;
    text-align: left;
    float: left;
    font-size: 50px;
}

.m-show {
    background-color:rgba(0, 0,0, alpha)
}

.show{
    float: left;
    font-size: 20px;
    color: #ffffff;
}

.dp1 {
    float: left;
    width: 33,33%
}

.dp2 {
    float: left;
    width: 33,33%
}

.dp3 {
    float: left;
    width: 33,33%
}

/* STYLE ABOUT */
/* .dog{
    
    height: 400%;
} */
.dog-bg-about {
    background-image:  url(https://figopetinsurance.com/sites/default/files/styles/blog_detail/public/imagedogshungry-homeless-sad-dog-boxed-areablog.jpg?itok=MPbROMad);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
    width: 100%;
    height: 500px;

}

.they-need {
    color: #ffffff;
    text-align: left;
    float: left;
    font-size: 50px;
    
}
 
.mission-parent{
    height: 350px;
    margin-bottom: 20px;
    /* background-color: pink; */
}
.mission {
    float: left;
    align-content: center;
    height: 150px;
    padding-top: 75px;
    padding-left: 75px; 
    
}

.our-mission {
    font-size: 38px;
    text-align: center;
    border: #000000; 
}

.mission-value {
    float: right;
    height: 150px;
    padding-top: 75px;
    padding-right: 34px;
}
/* STYLE CONTACT */

.contact {
    width: 100%;
    height: 450px;
}

.map {
    height: 450px;
    width: 50%;
    float: left;
}

.form {
    height: 450px;
    width: 50%;
    float: right;
}

/* GALLERY STYLE */
.action {
    width: 100%;
    height: 1500px;
}

.a-1 {
    background-image: url(https://louisianalawblog.lexblogplatform.com/wp-content/uploads/sites/98/2016/08/dog.jpg);
    float: left;
    width: 33,33%;
    height: 250px;
}

.a-2{
    background-image: url(http://www.rspcasa.org.au/wp-content/uploads/2018/06/RSPCA-animal-rescue-mobile-banner1-600x300-fit-constrain-q70-mobile_banner_image.jpg);
    float: left;
    width: 33,33%;
    height: 250px;
}

.a-3 {
    background-image: url(https://louisianalawblog.lexblogplatform.com/wp-content/uploads/sites/98/2016/08/dog.jpg);
    float: left;
    width: 33,33%;
    height: 250px;
}








 
