@import url('https://fonts.googleapis.com/css?family=Fahkwang|Questrial');

/* GENERAL-STYLE */
a {
    color: #0400fc
 }

a:hover {
    color: #76dd7e
 }

body {
    background-color: #ffffff;
  }
  
footer {
    text-align: center;
    margin-top: 100px;
}

h1,h2,h4,h5 {
    text-align: center;
    color: #1b0238;
    font-family: 'Questrial',sans-serif;
 }

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
 }
p {
    text-align: center;
    font-family: 'Fahkwang',sans-serif
 }

blockquote{
    font-family: 'Fahkwang', sans-serif;
}

 div {
    background-color: whitesmoke;
}

nav {
    background-color: #ffffff;
    color: #1b0238;
    font-size: 20px;
    text-align: center;
    }

.text-center {
    text-align: center;
}

/* INDEX-STYLE */
.mom1 {
    height: 350px;
    margin-bottom: 50px;
}

.mom2{
    height: 350px;
    margin-top: 50px;
}

.they-hope {
    text-align: left;
    /* background-color:peachpuff; */
}

.div1 {
    float: left;
    width: 50%;
    /* padding-left: 50px; */
    height: inherit;
    text-align: center;
    
 }

.div2 {
    float: right;
    width: 50%;
    /* padding-right: 40px; */
    height: inherit;
    text-align: center;
    
 }

.div3 {
    float: left;
    width: 50%;
    /* padding-left: 50px; */
    height: inherit;
    text-align: center;

    
 }

.div4 {
    float: right;
    width: 50%;
    /* padding-right: 40px; */
    height: inherit;
    text-align: center;
    
 }

.info {
    height: 300px;;
}

.dp1 {
    float: left;
    width: 33,33%
}

.dp2 {
    float: left;
    width: 33,33%
}

.dp3 {
    float: left;
    width: 33,33%
}

/* STYLE ABOUT */
.mission-parent{
    height: 350px;
    /* background-color: pink; */
}
.mission {
    float: left;
    align-content: center;
    height: 350px;
    padding-top: 75px;
    padding-left: 75px; 
    
}

.our-mission {
    font-size: 38px;
    text-align: center;
    border: #000000; 
}

.mission-value {
    float: right;
    height: 300px;
    padding-top: 75px;
    padding-right: 34px;
}





 
